@tailwind base;
@tailwind components;
@tailwind utilities;

body{
font-family:Arial;
margin:0;
padding:20px;
}

.container{
max-width:700px;
margin:auto;
}

.dark{
background:#111;
color:white;
min-height:100vh;
}

button{
padding:10px 16px;
border:none;
border-radius:6px;
cursor:pointer;
margin:5px;
}